
  <div class="global_container_  d-none d-md-block" id="pdfContent" #pdfContent>
    <div class="rectangle-2"></div>
    <div class="shape-1-holder">
      <img class="imit-logo-1024-500-3-01-01" src="../../../assets/images/certificate-og/imit_logo_1024_500-3-01-0.png" alt="" width="110" height="41">
    </div>
    <div class="col-12 col-2">
      <div class="row-3 group">
        <div class="col-7">
          <img class="certificate" src="../../../assets/images/certificate-og/certificate.png" alt="Certificate" width="323" height="69" title="Certificate">
          <img class="text" src="../../../assets/images/certificate-og/of_completion.png" alt="OF COMPLETION" width="174" height="23" title="OF COMPLETION">
          <img class="image-4" src="../../../assets/images/certificate-og/image_4.png" alt="" width="161" height="26">
          <img class="hands4heart" src="../../../assets/images/certificate-og/hands4heart.png" alt="Hands4Heart" width="198" height="32" title="Hands4Heart">
          <img class="text-2" src="../../../assets/images/certificate-og/www_hands4heart_com.png" alt="www.hands4heart.com" width="120" height="11" title="www.hands4heart.com">
        </div>
        <img class="image-1-01" src="../../../assets/images/certificate-og/image-1-01.png" alt="" width="80" height="95">
      </div>
      <img class="text-3" src="../../../assets/images/certificate-og/this_certificate_is_proud.png" alt="This certificate is proudly presented to" width="381" height="32" title="This certificate is proudly presented to">
      <!-- <img class="text-4" src="../../../assets/images/certificate-og/mr_smith.png" alt="Mr. Smith" width="98" height="26" title="Mr. Smith"> -->
       <h3 class="text-4 certificate-for" >{{getTitleWithUsername(userProfile.name,userProfile.gender)}}</h3>
      <img class="text-5" src="../../../assets/images/certificate-og/for_successfully_completi.png" alt="for successfully completing the program of CPR." width="415" height="29" title="for successfully completing the program of CPR.">
      <!-- <img class="text-6" src="../../../assets/images/certificate-og/registration_no.png" alt="Registration No" width="136" height="28" title="Registration No"> -->
      <div class="text-6 registerNo">Registration No: {{cert_ID}}</div>
      <div class="row group">
        <div class="rectangle-3"></div>
        <div class="rectangle-3-copy"></div>
        <div class="rectangle-3-copy-2"></div>
      </div>
      <div class="row-2 group">
        <div class="col-6">
          <img class="text-7" src="../../../assets/images/certificate-og/elish_challa.png" alt="Elish Challa" width="54" height="12" title="Elish Challa">
          <img class="director" src="../../../assets/images/certificate-og/director.png" alt="Director" width="36" height="11" title="Director">
          <img class="hands4heart-2" src="../../../assets/images/certificate-og/hands4heart_2.png" alt="Hands4Heart" width="58" height="11" title="Hands4Heart">
        </div>
        <div class="col-8">
          <img class="text-8" src="../../../assets/images/certificate-og/aji_k_thomas.png" alt="Aji K Thomas" width="61" height="14" title="Aji K Thomas">
          <img class="text-9" src="../../../assets/images/certificate-og/managing_director.png" alt="Managing Director" width="82" height="14" title="Managing Director">
          <img class="text-10" src="../../../assets/images/certificate-og/imit_park_ltd.png" alt="Imit Park Ltd." width="58" height="11" title="Imit Park Ltd.">
        </div>
        <div class="col-9">
          <img class="text-11" src="../../../assets/images/certificate-og/adv_m_s_anilkumar.png" alt="Adv.M S Anilkumar" width="89" height="12" title="Adv.M S Anilkumar">
          <img class="text-12" src="../../../assets/images/certificate-og/chairman_thrissur.png" alt="Chairman, Thrissur" width="83" height="13" title="Chairman, Thrissur">
          <img class="text-13" src="../../../assets/images/certificate-og/red_cross.png" alt="Red Cross" width="43" height="11" title="Red Cross">
        </div>
     </div>
      <!-- <div class="text-white" style="background-color: #11254d;"> -->
        <!-- <div class="row text-center text-white w-75">
          <div class="col-4">
            <hr class="border-warning w-75 mx-auto">
            <h5 class="fw-bold" style="font-size: 12px;">Elish Challa</h5>
            <p>Director <br> Hands4Heart</p>
          </div>
          <div class="col-4">
            <hr class="border-warning w-75 mx-auto">
            <h5 class="fw-bold" style="font-size: 12px;">Aji K Thomas</h5>
            <p>Managing Director <br> Imit Park Ltd.</p>
          </div>
          <div class="col-4">
            <hr class="border-warning w-75 mx-auto">
            <h5 class="fw-bold" style="font-size: 12px;">Adv. M S Anilkumar</h5>
            <p>Chairman, Thrissur <br> Red Cross</p>
          </div>
        </div> -->
      <!-- </div> -->
      
    </div>
    <img class="shape-3" src="../../../assets/images/certificate-og/shape_3.png" alt="" width="214" height="636">
    <div class="col">
      <img class="untitled-1" src="../../../assets/images/certificate-og/untitled-1.png" alt="" width="119" height="117">
      <img class="text-14" src="../../../assets/images/certificate-og/irinjalakuda_thrissur_ker.png" alt="Irinjalakuda, Thrissur, Kerala" width="99" height="11" title="Irinjalakuda, Thrissur, Kerala">
    </div>
    <img class="image2" src="../../../assets/images/certificate-og/image2.png" alt="" width="122" height="120">
    <img class="text-15" src="../../../assets/images/certificate-og/international_media_infor.png" alt="International Media &amp; Information Technology Park Ltd." width="156" height="28" title="International Media &amp; Information Technology Park Ltd.">
  </div>
  <button href="javascript: void(0)" class="site-button w-100  d-none d-md-block" (click)="downloadAsPDF()"
  style="background-color: #fba126 !important; color: #fff !important;"  [disabled]="isLoading"
  >
  Download
</button>

<div *ngIf="isLoading" class="loader-container  d-none d-md-block " 
style="padding: 5px 10px !important; ">          
          <div class="loader w-100 d-flex justify-content-center">
            <!-- <img src="../../../assets/gif/loader-white.gif" alt=""> -->
            <div class="spinner-overlay">
              <div class="spinner"></div>
            </div>
          </div>
          <p>&nbsp;&nbsp; Downloading...</p>
        </div>

<div class="d-block d-sm-block d-md-none">
  <div class="mt-2" style="z-index: 999999 !important; background-color: #fff;">
    <div class="modal-header d-flex justify-content-center w-100 text-center" style="border: none !important; background-color: #fff !important;">
        <h4 class="modal-title pull-left text-dark">Certificate</h4>
        <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button> -->
    </div>
    <div class="modal-body text-center mt-2 mb-2 pb-3">
        <div class="global_container_2 mt-2" style="zoom: 0.4 !important;">
          <div class="rectangle-2"></div>
          <div class="shape-1-holder">
            <img class="imit-logo-1024-500-3-01-01" src="../../../assets/images/certificate-og/imit_logo_1024_500-3-01-0.png" alt="" width="110" height="41">
          </div>
          <div class="col-12 col-2">
            <div class="row-3 group">
              <div class="col-7">
                <img class="certificate" src="../../../assets/images/certificate-og/certificate.png" alt="Certificate" width="323" height="69" title="Certificate">
                <img class="text" src="../../../assets/images/certificate-og/of_completion.png" alt="OF COMPLETION" width="174" height="23" title="OF COMPLETION">
                <img class="image-4" src="../../../assets/images/certificate-og/image_4.png" alt="" width="161" height="26">
                <img class="hands4heart" src="../../../assets/images/certificate-og/hands4heart.png" alt="Hands4Heart" width="198" height="32" title="Hands4Heart">
                <img class="text-2" src="../../../assets/images/certificate-og/www_hands4heart_com.png" alt="www.hands4heart.com" width="120" height="11" title="www.hands4heart.com">
              </div>
              <img class="image-1-01" src="../../../assets/images/certificate-og/image-1-01.png" alt="" width="80" height="95">
            </div>
            <img class="text-3" src="../../../assets/images/certificate-og/this_certificate_is_proud.png" alt="This certificate is proudly presented to" width="381" height="32" title="This certificate is proudly presented to">
            <!-- <img class="text-4" src="../../../assets/images/certificate-og/mr_smith.png" alt="Mr. Smith" width="98" height="26" title="Mr. Smith"> -->
             <h3 class="text-4 certificate-for" >{{getTitleWithUsername(userProfile.name,userProfile.gender)}}</h3>
            <img class="text-5" src="../../../assets/images/certificate-og/for_successfully_completi.png" alt="for successfully completing the program of CPR." width="415" height="29" title="for successfully completing the program of CPR.">
            <!-- <img class="text-6" src="../../../assets/images/certificate-og/registration_no.png" alt="Registration No" width="136" height="28" title="Registration No">
            <div class="registerNo">Registration No: XXXXXXXXXX001</div> -->
            <div class="text-6-2 registerNo">Registration No: {{cert_ID}}</div>
            <div class="row group">
              <div class="rectangle-3"></div>
              <div class="rectangle-3-copy"></div>
              <div class="rectangle-3-copy-2"></div>
            </div>
            <div class="row-2 group">
              <div class="col-6">
                <img class="text-7" src="../../../assets/images/certificate-og/elish_challa.png" alt="Elish Challa" width="54" height="12" title="Elish Challa">
                <img class="director" src="../../../assets/images/certificate-og/director.png" alt="Director" width="36" height="11" title="Director">
                <img class="hands4heart-2" src="../../../assets/images/certificate-og/hands4heart_2.png" alt="Hands4Heart" width="58" height="11" title="Hands4Heart">
              </div>
              <div class="col-8">
                <img class="text-8" src="../../../assets/images/certificate-og/aji_k_thomas.png" alt="Aji K Thomas" width="61" height="14" title="Aji K Thomas">
                <img class="text-9" src="../../../assets/images/certificate-og/managing_director.png" alt="Managing Director" width="82" height="14" title="Managing Director">
                <img class="text-10" src="../../../assets/images/certificate-og/imit_park_ltd.png" alt="Imit Park Ltd." width="58" height="11" title="Imit Park Ltd.">
              </div>
              <div class="col-9">
                <img class="text-11" src="../../../assets/images/certificate-og/adv_m_s_anilkumar.png" alt="Adv.M S Anilkumar" width="89" height="12" title="Adv.M S Anilkumar">
                <img class="text-12" src="../../../assets/images/certificate-og/chairman_thrissur.png" alt="Chairman, Thrissur" width="83" height="13" title="Chairman, Thrissur">
                <img class="text-13" src="../../../assets/images/certificate-og/red_cross.png" alt="Red Cross" width="43" height="11" title="Red Cross">
              </div>
            </div>
          </div>
          <img class="shape-3" src="../../../assets/images/certificate-og/shape_3.png" alt="" width="214" height="636">
          <div class="col">
            <img class="untitled-1" src="../../../assets/images/certificate-og/untitled-1.png" alt="" width="119" height="117">
            <img class="text-14" src="../../../assets/images/certificate-og/irinjalakuda_thrissur_ker.png" alt="Irinjalakuda, Thrissur, Kerala" width="99" height="11" title="Irinjalakuda, Thrissur, Kerala">
          </div>
          <img class="image2" src="../../../assets/images/certificate-og/image2.png" alt="" width="122" height="120">
          <img class="text-15" src="../../../assets/images/certificate-og/international_media_infor.png" alt="International Media &amp; Information Technology Park Ltd." width="156" height="28" title="International Media &amp; Information Technology Park Ltd.">
        </div>
        <br>
        <p class="m-0 my-2">Are you sure you want to download certificate?
          <span>
            <button href="javascript: void(0)" class="site-button w-100" (click)="downloadAsPDF()"
            style="background-color: #fba126 !important; color: #fff !important;"  [disabled]="isLoading"
            >
            Download
          </button>
          </span>
        </p>
        <div *ngIf="isLoading" class="loader-container d-flex align-items-center justify-content-center" 
              style="padding: 5px 10px !important; width: 100vw !important; height: 100vh !important;">
          
          <div class="loader">
            <!-- <img src="../../../assets/gif/loader-white.gif" alt=""> -->
            <div class="spinner-overlay">
              <div class="spinner"></div>
            </div>
          </div>
          <p>&nbsp;&nbsp; Downloading...</p>
        </div>
    </div>
    <!-- <div class="modal-footer d-flex justify-content-center" style="border: none !important;">
        <button type="button" class="site-button w-100"
            style="width: 116px !important; background-color: #060b89 !important; color: #fff !important;"
            (click)="modalRef.close()">No</button>
        
    </div> -->
  </div>
</div>
