<!-- <body>
  
  <div class="global_container_">
    <div class="rectangle-2"></div>
    <div class="shape-1-holder">
      <img class="imit-logo-1024-500-3-01-01" src="../../../assets/images/certificate/imit_logo_1024_500-3-01-0.png" alt="" width="433" height="159">
    </div>
    <div class="col-2">
      <div class="row-3 group">
        <div class="col-6">
          <img class="certificate" src="../../../assets/images/certificate/certificate.png" alt="Certificate" width="1237" height="256" title="Certificate">
          <img class="text" src="../../../assets/images/certificate/of_completion.png" alt="OF COMPLETION" width="660" height="88" title="OF COMPLETION">
          <img class="image-4" src="../../../assets/images/certificate/image_4.png" alt="" width="627" height="101">
          <img class="hands4heart" src="../../../assets/images/certificate/hands4heart.png" alt="Hands4Heart" width="731" height="121" title="Hands4Heart">
          <img class="text-2" src="../../../assets/images/certificate/www_hands4heart_com.png" alt="www.hands4heart.com" width="467" height="41" title="www.hands4heart.com">
          <img class="text-3" src="../../../assets/images/certificate/this_certificate_is_proud.png" alt="This certificate is proudly presented to" width="1211" height="110" title="This certificate is proudly presented to">
          <img class="text-4" src="../../../assets/images/certificate/mr_smith.png" alt="Mr. Smith" width="379" height="97" title="Mr. Smith">
        </div>
        <img class="image-1-01" src="../../../assets/images/certificate/image-1-01.png" alt="" width="313" height="369">
      </div>
      <img class="text-5" src="../../../assets/images/certificate/for_successfully_completi.png" alt="for successfully completing the program of CPR." width="1534" height="110" title="for successfully completing the program of CPR.">
      <img class="text-6" src="../../../assets/images/certificate/registration_no.png" alt="Registration No" width="524" height="108" title="Registration No">
      <div class="row group">
        <div class="rectangle-3"></div>
        <div class="rectangle-3-copy"></div>
        <div class="rectangle-3-copy-2"></div>
      </div>
      <div class="row-2 group">
        <div class="col-5">
          <img class="text-7" src="../../../assets/images/certificate/elish_challa.png" alt="Elish Challa" width="197" height="42" title="Elish Challa">
          <img class="director" src="../../../assets/images/certificate/director.png" alt="Director" width="134" height="40" title="Director">
          <img class="hands4heart-2" src="../../../assets/images/certificate/hands4heart_2.png" alt="Hands4Heart" width="224" height="41" title="Hands4Heart">
        </div>
        <div class="col-7">
          <img class="text-8" src="../../../assets/images/certificate/aji_k_thomas.png" alt="Aji K Thomas" width="227" height="53" title="Aji K Thomas">
          <img class="text-9" src="../../../assets/images/certificate/managing_director.png" alt="Managing Director" width="318" height="50" title="Managing Director">
          <img class="text-10" src="../../../assets/images/certificate/imit_park_ltd.png" alt="Imit Park Ltd." width="225" height="41" title="Imit Park Ltd.">
        </div>
        <div class="col-8">
          <img class="text-11" src="../../../assets/images/certificate/adv_m_s_anilkumar.png" alt="Adv.M S Anilkumar" width="330" height="42" title="Adv.M S Anilkumar">
          <img class="text-12" src="../../../assets/images/certificate/chairman_thrissur.png" alt="Chairman, Thrissur" width="319" height="48" title="Chairman, Thrissur">
          <img class="text-13" src="../../../assets/images/certificate/red_cross.png" alt="Red Cross" width="166" height="41" title="Red Cross">
        </div>
      </div>
    </div>
    <img class="shape-3" src="../../../assets/images/certificate/shape_3.png" alt="" width="834" height="2480">
    <div class="col">
      <img class="untitled-1" src="../../../assets/images/certificate/untitled-1.png" alt="" width="459" height="458">
      <img class="text-14" src="../../../assets/images/certificate/irinjalakuda_thrissur_ker.png" alt="Irinjalakuda, Thrissur, Kerala" width="382" height="40" title="Irinjalakuda, Thrissur, Kerala">
    </div>
    <img class="image2" src="../../../assets/images/certificate/image2.png" alt="" width="474" height="472">
    <img class="text-15" src="../../../assets/images/certificate/international_media_infor.png" alt="International Media &amp; Information Technology Park Ltd." width="602" height="108" title="International Media &amp; Information Technology Park Ltd.">
  </div>
</body> -->

<div class="global_container_">
  <div class="rectangle-2"></div>
  <div class="shape-1-holder">
    <img class="imit-logo-1024-500-3-01-01" src="../../../assets/images/certificate/imit_logo_1024_500-3-01-0.png" alt="" width="110" height="41">
  </div>
  <div class="col-12 col-2">
    <div class="row-3 group">
      <div class="col-7">
        <img class="certificate" src="../../../assets/images/certificate/certificate.png" alt="Certificate" width="323" height="69" title="Certificate">
        <img class="text" src="../../../assets/images/certificate/of_completion.png" alt="OF COMPLETION" width="174" height="23" title="OF COMPLETION">
        <img class="image-4" src="../../../assets/images/certificate/image_4.png" alt="" width="161" height="26">
        <img class="hands4heart" src="../../../assets/images/certificate/hands4heart.png" alt="Hands4Heart" width="198" height="32" title="Hands4Heart">
        <img class="text-2" src="../../../assets/images/certificate/www_hands4heart_com.png" alt="www.hands4heart.com" width="120" height="11" title="www.hands4heart.com">
      </div>
      <img class="image-1-01" src="../../../assets/images/certificate/image-1-01.png" alt="" width="80" height="95">
    </div>
    <img class="text-3" src="../../../assets/images/certificate/this_certificate_is_proud.png" alt="This certificate is proudly presented to" width="381" height="32" title="This certificate is proudly presented to">
    <!-- <img class="text-4" src="../../../assets/images/certificate/mr_smith.png" alt="Mr. Smith" width="98" height="26" title="Mr. Smith"> -->
     <h3 class="text-4 certificate-for" >{{getTitleWithUsername(userProfile.name,userProfile.gender)}}</h3>
    <img class="text-5" src="../../../assets/images/certificate/for_successfully_completi.png" alt="for successfully completing the program of CPR." width="415" height="29" title="for successfully completing the program of CPR.">
    <img class="text-6" src="../../../assets/images/certificate/registration_no.png" alt="Registration No" width="136" height="28" title="Registration No">
    <!-- <div class="registerNo">Registration No: XXXXXXXXXX001</div> -->
    <div class="row group">
      <div class="rectangle-3"></div>
      <div class="rectangle-3-copy"></div>
      <div class="rectangle-3-copy-2"></div>
    </div>
    <div class="row-2 group">
      <div class="col-6">
        <img class="text-7" src="../../../assets/images/certificate/elish_challa.png" alt="Elish Challa" width="54" height="12" title="Elish Challa">
        <img class="director" src="../../../assets/images/certificate/director.png" alt="Director" width="36" height="11" title="Director">
        <img class="hands4heart-2" src="../../../assets/images/certificate/hands4heart_2.png" alt="Hands4Heart" width="58" height="11" title="Hands4Heart">
      </div>
      <div class="col-8">
        <img class="text-8" src="../../../assets/images/certificate/aji_k_thomas.png" alt="Aji K Thomas" width="61" height="14" title="Aji K Thomas">
        <img class="text-9" src="../../../assets/images/certificate/managing_director.png" alt="Managing Director" width="82" height="14" title="Managing Director">
        <img class="text-10" src="../../../assets/images/certificate/imit_park_ltd.png" alt="Imit Park Ltd." width="58" height="11" title="Imit Park Ltd.">
      </div>
      <div class="col-9">
        <img class="text-11" src="../../../assets/images/certificate/adv_m_s_anilkumar.png" alt="Adv.M S Anilkumar" width="89" height="12" title="Adv.M S Anilkumar">
        <img class="text-12" src="../../../assets/images/certificate/chairman_thrissur.png" alt="Chairman, Thrissur" width="83" height="13" title="Chairman, Thrissur">
        <img class="text-13" src="../../../assets/images/certificate/red_cross.png" alt="Red Cross" width="43" height="11" title="Red Cross">
      </div>
    </div>
  </div>
  <img class="shape-3" src="../../../assets/images/certificate/shape_3.png" alt="" width="214" height="636">
  <div class="col">
    <img class="untitled-1" src="../../../assets/images/certificate/untitled-1.png" alt="" width="119" height="117">
    <img class="text-14" src="../../../assets/images/certificate/irinjalakuda_thrissur_ker.png" alt="Irinjalakuda, Thrissur, Kerala" width="99" height="11" title="Irinjalakuda, Thrissur, Kerala">
  </div>
  <img class="image2" src="../../../assets/images/certificate/image2.png" alt="" width="122" height="120">
  <img class="text-15" src="../../../assets/images/certificate/international_media_infor.png" alt="International Media &amp; Information Technology Park Ltd." width="156" height="28" title="International Media &amp; Information Technology Park Ltd.">
</div>
