<!-- <div class="dlab-accordion faq-1 box-sort-in m-b30 space active-bg accdown1" id="accordion001">
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"> What are the different types of undergraduate degrees?</a> </h6>
        </div>
        <div id="collapse1" class="acod-body collapse show" data-parent="#accordion001">
            <div class="acod-content">
                <p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
                <p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" class="collapsed" aria-expanded="false">Can you work while studying in the United States?</a> </h6>
        </div>
        <div id="collapse2" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
                <p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse"  data-target="#collapse3" class="collapsed" aria-expanded="false">How long are your contracts?</a> </h6>
        </div>
        <div id="collapse3" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
                <p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" class="collapsed" aria-expanded="false">What are the different types of undergraduate degrees?</a> </h6>
        </div>
        <div id="collapse4" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
                <p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="acod-head">
            <h6 class="acod-title"> <a  href="javascript:void(0);" data-toggle="collapse"  data-target="#collapse5" class="collapsed" aria-expanded="false">What is the transfer application process? </a> </h6>
        </div>
        <div id="collapse5" class="acod-body collapse" data-parent="#accordion001">
            <div class="acod-content">
                <p>Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
                <p class="m-b0">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</p>
            </div>
        </div>
    </div>
    </div>
     -->

     <div class="dlab-accordion faq-1 box-sort-in m-b30 space active-bg accdown1" id="accordion001">
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">What is CPR?</a> </h6>
            </div>
            <div id="collapse1" class="acod-body collapse show" data-parent="#accordion001">
                <div class="acod-content">
                    <p>CPR (Cardiopulmonary Resuscitation) is a lifesaving technique used in emergencies when a person's breathing or heartbeat has stopped.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse2" class="collapsed" aria-expanded="false">Who should perform CPR?</a> </h6>
            </div>
            <div id="collapse2" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>Anyone trained in CPR can perform it. In emergencies, even untrained individuals can perform hands-only CPR.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse3" class="collapsed" aria-expanded="false">How deep should chest compressions be?</a> </h6>
            </div>
            <div id="collapse3" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>At least 2 inches deep for adults.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse4" class="collapsed" aria-expanded="false">How fast should chest compressions be?</a> </h6>
            </div>
            <div id="collapse4" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>100-120 compressions per minute.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse5" class="collapsed" aria-expanded="false">When should I stop CPR?</a> </h6>
            </div>
            <div id="collapse5" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>When professional help arrives, the victim regains consciousness, or you are physically unable to continue.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse6" class="collapsed" aria-expanded="false">Should I perform mouth-to-mouth CPR on everyone?</a> </h6>
            </div>
            <div id="collapse6" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>No, hands-only CPR is effective for adults. Mouth-to-mouth is optional and primarily recommended for children and drowning victims.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse7" class="collapsed" aria-expanded="false">What if I break a rib while performing CPR?</a> </h6>
            </div>
            <div id="collapse7" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>It’s possible, but continuing CPR is more important than worrying about broken ribs.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse8" class="collapsed" aria-expanded="false">Do I need certification to perform CPR?</a> </h6>
            </div>
            <div id="collapse8" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>No, but certification provides proper training and confidence.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse9" class="collapsed" aria-expanded="false">Can CPR restart a heart?</a> </h6>
            </div>
            <div id="collapse9" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>No, but it keeps blood and oxygen circulating until professional help arrives.</p>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="acod-head">
                <h6 class="acod-title"> <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse10" class="collapsed" aria-expanded="false">Can an AED be used on children?</a> </h6>
            </div>
            <div id="collapse10" class="acod-body collapse" data-parent="#accordion001">
                <div class="acod-content">
                    <p>Yes, but use pediatric pads if available.</p>
                </div>
            </div>
        </div>
    </div>
    