
<div class="page-wraper">

	<!-- header -->
    <app-header-light4></app-header-light4>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data] = "banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- Your Faq -->
            <div class="section-full overlay-white-middle content-inner">
                <div class="container">
                    <div class="section-head text-black text-center">
						<h3 class="title">Do you have Questions?</h3>
                        <p>If you have any questions about performing CPR, its techniques, or when to use an AED, this FAQ section provides clear and concise answers to common concerns. Knowing these answers can help you act quickly and confidently in an emergency.</p>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-12 m-b30 d-none d-md-block"> 
							<app-query-form></app-query-form>
						</div>
						<div class="col-lg-8 col-md-12 m-b30">
							<app-accordian1></app-accordian1>
						</div>
                        <div class="col-lg-4 col-md-12 m-b30 d-block d-md-none"> 
							<app-query-form></app-query-form>
						</div>
					</div>
                </div>
            </div>
            <!-- Your Faq End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->
   <!-- Newsletter -->
	<!-- <app-newsletter2></app-newsletter2> -->
   <!-- Footer -->
    <app-footer4></app-footer4>
     <!-- scroll top button -->
     <app-scroltop></app-scroltop>
</div>