.btn{
    border-radius: 0;
}

.option {
    background-color: #fba126;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin: 3px;
    border: 2px solid transparent;
    transition: background-color 0.7s ease;
    width: 49%;
}

@media (max-width: 768px) {
    .option {
        background-color: #fba126;
        color: #fff;
        /* font-size: 20px;
        padding: 10px;
        margin: 3px;
        border: 2px solid transparent; */
        padding: 10px;
        font-size: 16px;
        transition: background-color 0.7s ease;
        width: 100%;
    }
}

.option:hover {
    background-color: #060b89;
    color: #fff;
    /* font-size: 20px;
    padding: 10px;
    margin: 3px;
    border: 2px solid transparent; */
    transition: background-color 0.9s ease;
    /* width: 49%; */
}

.option.selected {
    border-color: #060b89; /* Highlight border color fba126 */
    background-color: #060b89; /* Slightly darker background fba126 */
    color: #fff;
}

    #quiz .options input[type=checkbox] {
        height:22px;
        width:22px;
    }

.cursor-pointer{
    cursor: pointer;
}

.result-question{
    background-color:#eee;
    margin:4px;
    padding:6px;
}

.btn-custm {
    white-space: nowrap !important;
    min-width: 0 !important;
} 

/* @media only screen and (max-width: 480px) {
    h1,.h1{
        font-size:22px;
    }
    h2,.h2{
        font-size:20px;
    }
    h3,.h3{
        font-size:18px;
    }
    .option {
        font-size: 11px;
        padding: 6px;
    }
} */

/* .button-container {
    display: flex;
    gap: 5px;
    width: 100%;
  }
  
  .site-button {
    flex: 1 2 0px;
    min-width: 0;
    white-space: nowrap;
  } */

  .not-answered {
    background-color: #060b89 !important;
    color: #fff !important;
  }

  .answered {
    background-color: #fba126 !important;
    color: #fff !important;
  }