<footer class="site-footer footer-center">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center m-b10">
                    <h2 class="text-white m-b5">Join Hands4Heart & Get CPR Certified Today! </h2>
                    <p class="max-w600 p-b20 m-auto">Taking just a few hours of your time can make a lifetime of
                        difference for someone in need.</p>
                    <div class="mt-2 d-flex justify-content-center">
                        <ul class="list-check primary circle text-start">
                            <li>Register now for ₹500 and start your CPR training today!</li>
                            <li>Complete the training, pass the test, and earn your certification!</li>
                            <li>Become a certified lifesaver and make a difference in your community!</li>
                        </ul>
                    </div>
                    <!-- <div class="max-w500 m-auto m-t30 subscribe-form">
                        <form class="dzSubscribe">
                            <div class="dzSubscribeMsg"></div>
                            <div class="input-group">
                                <input name="dzEmail" required="required"  class="form-control" placeholder="Your Email Id" type="email">
                                <span class="input-group-btn">
                                    <button name="submit" value="Submit" type="submit" class="site-button btnhover14">Subscribe</button>
                                </span> 
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom text-center">
        <div class="container p-tb10">
            <div class="row">
                <div class="col-md-12 col-sm-12 m-b30">
                    <img src="assets/images/logo.png" alt="" width="85">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="widget-link ">
                        <ul>
                            <li><a [routerLink]="['/']">Home</a></li>
                            <li><a [routerLink]="['/about-us']">About Us</a></li>
                            <li><a [routerLink]="['/faq']">Faqs</a></li>
                            <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12 m-t20">
                    <ul class="list-inline">
                        <li><a href="javascript:void(0);" class="site-button-link facebook hover"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:void(0);" class="site-button-link google-plus hover"><i
                                    class="fa fa-google-plus"></i></a></li>
                        <li><a href="javascript:void(0);" class="site-button-link linkedin hover"><i
                                    class="fa fa-linkedin"></i></a></li>
                        <li><a href="javascript:void(0);" class="site-button-link instagram hover"><i
                                    class="fa fa-instagram"></i></a></li>
                        <li><a href="javascript:void(0);" class="site-button-link twitter hover"><i
                                    class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div> -->

            <div class="row">
    <div class="col-md-12 m-t20">
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/" target="_blank" class="site-button-link facebook hover">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://gmail.com/" target="_blank" class="site-button-link google-plus hover">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com" target="_blank" class="site-button-link linkedin hover">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" class="site-button-link instagram hover">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank" class="site-button-link twitter hover">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

            <div class="row mt-2">
                <div class="col-md-12 col-sm-12">
                    <div class="widget-link ">
                        <small>© 2025 Hands4Heart. All Rights Reserved.</small>

                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>