<div class="section-full content-inner-2 bg-white">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="title">Our Events</h2>
            <p>There are many variations of passages of Lorem Ipsum typesetting industry...</p>
        </div>

        <!-- Scrollable Container -->
        <div class="event-container">
            <div class="event-post post-grid shadow radius me-2 p-1" *ngFor="let event of eventList">
                <div class="dlab-post-media">
                    <a href="javascript:void(0)" (click)="navigateto('/event-details', event.id, page)">
                        <img [src]="event.img" alt="{{event.name}}">
                    </a>
                </div>
                <div class="dlab-post-info">
                    <div class="dlab-post-meta px-0 w-100">
                        <ul class="w-100 px-0">
                            <li class="post-date"> 
                                <strong>{{event.date | date: 'dd MMM'}}</strong> 
                                <span>{{event.date | date: 'yyyy'}}</span> 
                            </li>
                            <li class="post-author"> <i class="la la-clock"></i> {{ event.time | timeFormate }} </li>
                            <li class="post-tag text-truncate" style="width: 150px;"> <i class="ti-location-pin"></i> {{event.location || 'Not Disclosed'}} </li>
                            <li class="post-author">| <i class="fa fa-phone"></i> +919563011126 </li>
                        </ul>
                    </div>
                    <div class="dlab-post-title">
                        <h4 class="post-title"><a [routerLink]="['/event-details']">{{event.name}}</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- <div class="items">
            <div class="event-post post-grid shadow radius">
                <div class="dlab-post-media">
                    <a [routerLink]="['/event-details']"><img src="assets/images/events/grid/coaching/pic2.jpg" alt=""></a>
                </div>
                <div class="dlab-post-info">
                    <div class="dlab-post-meta">
                        <ul>
                            <li class="post-date"> <strong>10 June</strong> <span> 2024</span> </li>
                            <li class="post-author"> <i class="la la-clock"></i> 05:00 PM </li>
                            <li class="post-tag"> <i class="ti-location-pin"></i> Marmora Road </li>
                        </ul>
                    </div>
                    <div class="dlab-post-title">
                        <h4 class="post-title"><a [routerLink]="['/event-details']">The Shocking Revelation of Education.</a></h4>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="items">
            <div class="event-post post-grid shadow radius">
                <div class="dlab-post-media">
                    <a [routerLink]="['/event-details']"><img src="assets/images/events/grid/coaching/pic3.jpg" alt=""></a>
                </div>
                <div class="dlab-post-info">
                    <div class="dlab-post-meta">
                        <ul>
                            <li class="post-date"> <strong>10 June</strong> <span> 2024</span> </li>
                            <li class="post-author"> <i class="la la-clock"></i> 05:00 PM </li>
                            <li class="post-tag"> <i class="ti-location-pin"></i> Marmora Road </li>
                        </ul>
                    </div>
                    <div class="dlab-post-title">
                        <h4 class="post-title"><a [routerLink]="['/event-details']">Five Things Nobody Told You About</a></h4>
                    </div>
                </div>
            </div>
        </div> -->