/* .event-container {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth;
    white-space: nowrap;
    padding-bottom: 10px;
    gap: 15px;
}

.event-post {
    flex: 0 0 auto; 
    width: 450px !important;
    height: 450px !important;
} */


