.blur-card {
    height: 485px !important;
    padding: 20px;
    /* border-radius: 15px; */
    /* background: rgba(255, 255, 255, 0.2); */
    /* backdrop-filter: blur(10px); */
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: center;
}