.dlab-post-media {
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    position: relative;
}

.dlab-post-media.highlighted {
    border: 3px solid #ec2127 !important;
    background-color: rgba(255, 102, 0, 0.1);
}

/* Default Image */
.course-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
}

/* Blur effect when selected */
.blurred {
    filter: blur(4px);
}

/* "Playing" label styling */
.playing-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9ac92f; /* Red background */
    color: white;
    padding: 8px 16px;
    width: 100%;
    height: fit-content !important;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
