<div class="row teacher-about">
    <div class="col-md-5">
        <h2 class="">Hey there, my name is M.S. Anil Kumar. I'm the Chairman of Indian Red Cross Society, Thrissur.</h2>
        <img src="assets/images/signature.webp" alt="">
    </div>
    <div class="col-md-7">
        <p class="">Every second matters during a cardiac emergency. The ability to perform CPR (Cardiopulmonary Resuscitation) can mean the difference between life and death. At Hands4Heart, we believe that everyone should have the knowledge, confidence, and skills to take action when it matters most.
            <br>Our CPR training program is designed to provide comprehensive, hands-on education that prepares individuals to respond effectively to cardiac arrest and emergency situations. Whether you choose 100% in-person training or our blended learning option, our world-class instructors ensure you receive the most up-to-date, engaging, and effective CPR education. <br>
            With our recognized certification, you’ll be prepared to save lives and make a difference in your community.</p>
    </div>
</div>