<div class="row teacher-about">
    <div class="col-md-5">
        <h2 class="">Hey there, I am Adv M.S. Anil Kumar. I'm the Chairman of Indian Red Cross Society, Thrissur.</h2>
        <img src="assets/images/signature.webp" alt="">
    </div>
    <div class="col-md-7">
        <p class="">Every second counts in a cardiac emergency. At Hands4Heart, we empower everyone with the skills and confidence to perform CPR and save lives. Our hands-on training—available in-person or blended—ensures you’re prepared for real emergencies. Get certified and make a difference today!.</p>
    </div>
</div>