<div class="section-full bg-gray content-inner about-carousel-ser">
    <div class="container">
        <div class="section-head text-center">
            <h2 class="title">Popular Courses</h2>
            <p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>

        <!-- Conditional Content Based on Course Count -->
        <div *ngIf="courseList.length <= 2; else fullCarousel" class="row align-items-center">
            <!-- Lorem Ipsum Content on the Left -->
            <div class="col-md-6">
                <h3>Lorem Ipsum Heading</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>
            </div>

            <!-- Course List on the Right -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-6 col-12" *ngFor="let course of courseList">
                        <div class=".dlab-box courses-bx">
                            <div class="dlab-media">
                                <img [src]="course.img || 'assets/images/images.png'" alt="{{course.name}}" loading="lazy">
                            </div>
                            <div class="dlab-info">
                                <h6 class="dlab-title">
                                    <a  >{{course.name}}</a>
                                </h6>
                                <p>{{course.description}}</p>
                                <div class="courses-info">
                                    <div class="review">
                                        <ul class="item-review">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <span>10 Review</span>
                                    </div>
                                    <button class="btn btn-sm btn-outline-warning">Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Full Carousel Content -->
        <ng-template #fullCarousel>
            <div class="scroll-container">
                <!-- Left Button -->
                <button class="scroll-btn left-btn" (click)="scrollLeft()">
                    <i class="fa fa-chevron-left"></i>
                </button>

                <!-- Scrollable Courses -->
                <div class="scrollable-row">
                    <div class="col-md-6 col-lg-3 col-sm-6" *ngFor="let course of courseList; let i = index;">
                        <div class="dlab-box courses-bx">
                            <div class="dlab-media">
                                <img [src]="course.img || 'assets/images/images.png'" alt="{{course.name}}" loading="lazy">
                            </div>
                            <div class="dlab-info">
                                <h6 class="dlab-title">
                                    <a  >{{course.name}}</a>
                                </h6>
                                <p>{{course.description}}</p>
                                <div class="courses-info">
                                    <div class="review">
                                        <ul class="item-review">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                        </ul>
                                        <span>10 Review</span>
                                    </div>
                                    <button class="btn btn-sm btn-outline-warning">Purchase</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Button -->
                <button class="scroll-btn right-btn" (click)="scrollRight()">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </ng-template>
    </div>
</div>
