.disabled-link {
    pointer-events: none;
    color: gray;
    cursor: not-allowed;
}
/* .modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  } */

  @media (max-width: 767px) {
    .mobile-btn {
      /* flex: 0 0 40%; Two buttons per row accounting for gap */
    }
  }

  