<div class="section-full content-inner bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 px-2" style="z-index: 1099;">
                <div class="section-head head-langschool m-b20">
                    <!-- <h5 class="text-primary">Start Now!</h5> -->
                    <h3 class="title">Why Choose Hands4Heart CPR Training?</h3>
                    <p>Hands4Heart offers flexible learning options, expert-led instruction, and a hands-on approach to CPR training. With affordable pricing starting at just ₹500, you can gain a one-year certification in just a few hours. Our practical exercises and real-world scenarios ensure you're prepared to make a life-saving impact in emergencies.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row d-flex d-md-none">
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #060b89 !important; color: #ffffff !important;"> <span class="icon-cell">1</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Flexible Learning Options</h5>
                                <p>Choose between 100% in-person training or a blended learning format with recorded offline classes for self-paced learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #fba126 !important; color: #ffffff !important;"> <span class="icon-cell">2</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Expert-Led Training</h5>
                                <p>Learn from certified CPR professionals who provide instruction based on the latest international safety guidelines.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #060b89 !important; color: #ffffff !important;"> <span class="icon-cell">3</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Quick & Effective Certification </h5>
                                <p>Complete the training in just a few short hours and gain a certification that validates your CPR skills.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #fba126 !important; color: #ffffff !important;"> <span class="icon-cell">4</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Affordable & Accessible</h5>
                                <p>Get started with just ₹500, making life-saving skills accessible to everyone.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #060b89 !important; color: #ffffff !important;"> <span class="icon-cell">5</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Hands-On Learning Experience</h5>
                                <p>Our training goes beyond theory, incorporating real-world scenarios and practical exercises. You'll practice techniques like chest compressions and using an AED on high-quality manikins, ensuring you're confident and fully prepared to handle emergency situations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #fba126 !important; color: #ffffff !important;"> <span class="icon-cell">6</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">One-Year Certification</h5>
                                <p>Earn a CPR certification valid for one year, boosting your knowledge and professional qualifications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #060b89 !important; color: #ffffff !important;"> <span class="icon-cell">7</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Community Impact </h5>
                                <p>Gain the confidence to save lives and be a valuable asset to your family, workplace, and society.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-none d-md-flex">
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #060b89 !important; color: #ffffff !important;"> <span class="icon-cell">1</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Flexible Learning Options</h5>
                                <p>Choose between 100% in-person training or a blended learning format with recorded offline classes for self-paced learning.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #fba126 !important; color: #ffffff !important;"> <span class="icon-cell">2</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Expert-Led Training</h5>
                                <p>Learn from certified CPR professionals who provide instruction based on the latest international safety guidelines.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #fba126 !important; color: #ffffff !important;"> <span class="icon-cell">3</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Quick & Effective Certification </h5>
                                <p>Complete the training in just a few short hours and gain a certification that validates your CPR skills.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #060b89 !important; color: #ffffff !important;"> <span class="icon-cell">4</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Affordable & Accessible</h5>
                                <p>Get started with just ₹500, making life-saving skills accessible to everyone.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #060b89 !important; color: #ffffff !important;"> <span class="icon-cell">5</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Hands-On Learning Experience</h5>
                                <p>Our training goes beyond theory, incorporating real-world scenarios and practical exercises. You'll practice techniques like chest compressions and using an AED on high-quality manikins, ensuring you're confident and fully prepared to handle emergency situations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #fba126 !important; color: #ffffff !important;"> <span class="icon-cell">6</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">One-Year Certification</h5>
                                <p>Earn a CPR certification valid for one year, boosting your knowledge and professional qualifications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="icon-bx-wraper left iconbox-lang">
                            <div class="icon-bx-xs radius" style="background-color: #060b89 !important; color: #ffffff !important;"> <span class="icon-cell">7</span > </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte ">Community Impact </h5>
                                <p>Gain the confidence to save lives and be a valuable asset to your family, workplace, and society.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>